.editor {
    position: absolute;
    background: #9fa3c6;
    border: 1px solid #565c92;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, );
    z-index: 5;
    font-size: 16px;
    color:#000000;
}

.controls {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    position: relative;
    z-index: 10;
}

.fontSelect {
    position: relative;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
    color:#000000;
    min-width: 120px;
    visibility: visible;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
} 

.textarea {
    top: 30px;
    left: 30px;
    width: 200px;
    height: 100px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 8px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.saveButton, .cancelButton {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.saveButton {
    background: #8ef495;
    color: #353a3e;
}

.cancelButton {
    background: #f19393;
    color: #353a3e;
}

.colorPicker {
    width: 40px;
    height: 32px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.colorPicker:hover {
    border-color: #0b57d0;
}

